@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: auto;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

#app {
    margin-top: 40px;
    border: black solid 1px;
    border-radius: 5px;
    width: 500px;
    height: 700px;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zip {
    margin-bottom: 20px;
}

textarea,
input {
    border-radius: 5px;
    height: auto;
}

label {
    margin-bottom: 5px;
}

.headline {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    color: #ffffff;
    background-color: #daa520;
}

.title {
    margin-bottom: 20px;
    border-bottom: solid 1px #000000;
}

#generate {
    border-radius: 5px;
    font-size: 2em;
    padding: 5px;
}